<div class="container page-header">
    <div class="row">
        <div class="col-md-8">
            <section class="container">
                <div class="row video-block">
                    <div class="col-md-12">
                        <iframe width="100%" height="450px" src="https://www.youtube.com/embed/XGSy3_Czz8k">
                        </iframe>
                    </div>
                </div>
                <div class="row video-info">
                    <div class="container">
                        <div class="row title">
                            <div class="col-md-12">
                                <p>TITLE</p>
                            </div>
                        </div>
                        <div class="row action-row">
                            <div class="col-md-2">
                                <p>Views</p>
                            </div>
                            <div class="col-md-1 col-md-offset-8">
                                <p>Thumb up</p>
                            </div>
                            <div class="col-md-1">
                                <p>Thumbs down</p>
                            </div>
                            <div class="col-md-1">
                                <p>share</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <aside class="container related-vid">
                <div class="row">
                    <section class="col-md-7 col-md-offset-1 vid-pic">
                        <h2>VIDEO PIC</h2>
                    </section>
                    <section class="col-md-3 vid-info">
                        <p>VID NAME</p>
                        <p>USER NAME</p>
                        <p>NUMBER OF VIEWS</p>
                    </section>
                </div>
            </aside>
        </div>
    </div>
</div>