<div class="container page-header" ng-controller="VideoController">
    <div class="row">
        <div class="col-md-8">
            <section class="container">
                <div class="row video-block">
                    <div class="col-md-12">
                        <iframe width="100%" height="450px" src="https://www.youtube.com/embed/XGSy3_Czz8k">
                        </iframe>
                    </div>
                </div>
                <div class="row video-func">
                    <div class="container">
                        <div class="row title">
                            <div class="col-md-12">
                                <h2>{{video.snippet.title}}</h2>
                            </div>
                        </div>
                        <div class="row action-row">
                            <div class="col-md-3 col-md-offset-2">
                                <p>View: {{video.statistics.viewCount}}</p>
                            </div>
                            <div class="col-md-2">
                                <span>
                                    <img src="" alt="">
                                    <p>{{video.statistics.likeCount}}</p>
                                </span>

                            </div>
                            <div class="col-md-2">
                                <span>
                                    <img src="" alt="">
                                    <p>{{video.statistics.dislikeCount}}</p>
                                </span>
                            </div>
                            <div class="col-md-3">
                                <span>
                                    <img src="" alt="">
                                    <p>SHARE</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row video-info">
                    <div class="col-md-4">
                        <p>USER PIC AND NAME</p>
                        <p>{{video.snippet.publishedAt}}</p>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn" type="">SUBSCRIBE</button>
                    </div>
                </div>
                <div class="row video-description">
                    <div class="col-md-4">
                        <p>{{video.snippet.description}}</p>
                    </div>
                </div>
                <div class="row video-comments">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>COMMENTS: Number of comments
                                    <button class="btn">SortBy</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row comment-write">
                            <div class="col-md-12">
                                <img src="" alt="user-pic">
                                <input type="textbox">
                                <button class="btn">CANCEL</button>
                                <button class="btn">COMMENT</button>
                            </div>
                        </div>
                        <div class="row users-comments">
                            <div class="col-md-12">
                                {{comments}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <aside class="container related-vid">
                <div class="row">
                    <section class="col-md-7 col-md-offset-1 vid-pic">
                        <a href="">
                            <img src="" alt="">
                        </a>
                    </section>
                    <section class="col-md-3 vid-info">
                        <p>VID NAME</p>
                        <p>USER NAME</p>
                        <p>NUMBER OF VIEWS</p>
                    </section>
                </div>
            </aside>
        </div>
    </div>
</div>