header{
    height: 60px;
}
.related-vid{
    border-left: 1px solid gray;
}
.video-func{
    border-bottom: 1px solid gray;
}
.video-comments{
    border-top: 1px solid gray;
}
.row{
    margin-top: 1.5em;
}
.title{
    margin-top: -1.5em!important;
}
#share{
    width: 20px;
}
#share-btn{
    background-color: transparent;
}
#like{
    width: 20px;
}
#dislike{
    width: 20px;
}
.title{
    margin-top: 0em;
}
#published{
    color: gray;
}
#focusedInput{
    border: none;
}
.btn{
    margin: 1em 0 1em 0;
}
