<div class="container">
    <div class="row picure">
        <div class="col-md-12 backgroundPic">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-2">
            <button class="btn btn-primary">Change Background</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="https://d2ln1xbi067hum.cloudfront.net/assets/default_user-abdf6434cda029ecd32423baac4ec238.png" id="user-pic" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h1>Hello, {{main.username}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" ng-click="hideHome()">
                        <strong>HOME</strong>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" ng-click="showAllVideos()">
                        <strong>VIDEOS</strong>
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="#" ng-click="showPlaylists()">
                        <strong>PLAYLISTS</strong>
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row home profile-navigation" ng-hide="showHome">
        <div class="col-md-4">
            <form>
                <fieldset>
                    <legend>
                        <h1>Settings</h1>
                    </legend>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Change User Name</label>
                        <input type="text" class="form-control" id="newUsername" placeholder="New Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Change Profile picture</label>
                        <input type="file" class="form-control-file" id="profile-picture">
                    </div>
                    <div class="form-group">
                        <label for="newEmail">Change Email address</label>
                        <input type="text" class="form-control" id="newEmail" placeholder="New Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Change Password</label>
                        <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-href="/profile">Save Changes</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    <div class="row videos profile-navigation" ng-hide=showVideos>
        <legend>
            <h1>Videos</h1>
        </legend>
        <div ng-repeat="vid in videos">
            <a ng-href="/video/{{vid.url}}" class='vidImgs'><img src="assets/img/video-img.jpg" class="profilevideo" alt="click video"></a>
            <span>{{vid.name}}</span>
            <span>{{vid.publisher}}</span>
        </div>
    </div>
    <div class="row playlists profile-navigation" ng-hide="showPlaylist">
        <div class="col-md-4">
            <legend>
                <h1>Playlists</h1>
            </legend>
            <p>Create New Playlist :
                <button class="btn btn-primary">
                    +add playlist</button>
            </p>
        </div>
    </div>
</div>