<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-6" id="upload-form">
            <h1>{{main.username}}, you can upload video here</h1>
            <form name="up.upload_form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Name">
                    <small id="nameHelp" class="form-text text-muted">Choose name for the video</small>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" class="form-control" id="tags" aria-describedby="tagsHelp" placeholder="Tags">
                    <small id="tagsHelp" class="form-text text-muted">Separate each tag with space</small>
                </div>
                <div class="form-group">
                    <label for="categories">Categories</label>
                    <select class="form-control" id="categories">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <label for="file">Choose Video to upload</label>
                        <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'video/*'" accept="video/*" ngf-max-size="1GB"
                        /> Video thumbnail:
                        <video controls ngf-src="file" id='uploadVid' ngf-thumbnail="up.file || 'https://i.ytimg.com/vi/T0Jqdjbed40/mqdefault.jpg'"></video>
                        <i ng-show="up.upload_form.file.$error.required">*required</i>
                        <br>
                        <i ng-show="up.upload_form.file.$error.maxSize">File too large {{up.file.size / 1000000|number:1}}MB: max 1GB</i>
                        <p>{{up.progress}}</p>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary upload-btn" ng-click="up.submit()">Upload</button>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>