<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-6" id="upload-form">
            <h1>Hello, {{main.username}}</h1>
            <form name="up.upload_form">
                    Single Video with validations
                <input 
                   type="file" 
                   ngf-select 
                   ng-model="up.file" 
                   name="file" 
                   ngf-pattern="'video/*'"
                   accept="video/*" 
                   ngf-max-size="1GB" 
                   />
                Video thumbnail: <video controls ngf-src="file" ngf-thumbnail="up.file || 'https://i.ytimg.com/vi/T0Jqdjbed40/mqdefault.jpg'"></video>
                <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                <i ng-show="up.upload_form.file.$error.maxSize">File too large 
                {{up.file.size / 1000000|number:1}}MB: max 1GB</i>
                <button type="submit" ng-click="up.submit()">submit</button>
                <p>{{up.progress}}
            </form>
        </div>
    </div>
</div>